.button_group_container{
    width: 100%; height: 100%;
    font-size: 0.6em
}

.item{
    transition: .25s cubic-bezier(.95, .32, .37, 1.31);
    cursor: pointer;
    padding-top: 1.6vh;
    background-color: #ddd;
    width: 100%;
    color: #5b5b5b;
    font-size: 0.6em;
    vertical-align: middle;
}

.item:first-child{
    border-radius: 2em 0 0 2em;
}

.item:last-child{
    border-radius: 0 2em 2em 0;
}

.item:hover{
    transition: .25s cubic-bezier(.95, .32, .37, 1.31);
    background-color: #5b5b5b;
    color: #ddd;
}

.item:active{
    background-color: #303030;
    color: #ddd;
    transition: .15s cubic-bezier(.95, .32, .37, 1.31);
}

.item_selected {
    background-color: #303030;
    color: #ddd;
}