.form_card{
    height: 45vh;
    border: solid #ffffff 0.05em;
    border-radius: 1em;
    margin: 0vh 32vw;
    display: grid;
    grid-template-rows: 18% 82%;
}

.form_card > div{
    padding: 0.5em;
}

.card_header{
    text-transform: uppercase;
    border-bottom: solid #ffffff 0.05em;
}

.resume_card{
    transition: .25s cubic-bezier(.95, .32, .37, 1.31);
    height: 30vh;
    border: solid #ffffff 0.05em;
    border-radius: 1em;
    margin: 1em 32vw;
}