.card{
    height: 100%;
    border: solid #ffffff 0.05em;
    border-radius: 1em;
    margin: 0vh 32vw;
    display: grid;
    grid-template-rows: 10% 45% 45%;
}

.card > div{
    padding: 0.5em;
}

.card_header{
    text-transform: uppercase;
    border-bottom: solid #ffffff 0.05em;
}

.card_form{
    border-bottom: solid #ffffff 0.05em;
}